.homeContainer {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: "Open Sans";
    font-size: 17px;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

.recipeTitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
}

.recipeDescription {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
}

.recipeImage {
    border-radius: 10px;
    width: 100%;
    height: 23vh;
    object-fit: cover;
}

.ingredientsTitle,
.instructionsTitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

