.card {
    padding: 1rem;
    font-family: "Proza Libre";
    font-weight: 800;
    font-size: 15px;
    margin: 30px;
    padding: 32px;
    background-color:#FFE7E9 ;
}

.ingredients {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}