.card {
    padding: 1rem;
    font-family: "Lucinda Sans";
    font-weight: 10;
    font-size: 15px;
    margin: 30px;
    padding: 32px;
    background-color:#FFE7E9 ;
}

.ingredients {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ingredientsTitle, .instructionsTitle {
    font-size: 24px;
}

.recipeTitle {
    font-size: 24px;
}

.recipeDescription, .ratingText {
    font-size: 14px;
}