.cardContainer {
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(3fr, 6fr);
    padding: 2rem 3rem 2rem 3rem;
    background-color: white;
}

@media (max-width: 900px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(1fr, 3fr);
    }
}

@media (max-width: 600px) {
    .cardContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(1fr, 3fr);
    }
}

.searchComponentContainer {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

#titleHeader {
    margin: 2rem 0 2rem 0;
    font-size: 25px;
    font-family: "cormorant CS";
    font-weight: italic;
    border: 5px;
    border-color: black;
}