.searchContainer {
    margin: 1rem 0 1rem 0;
    font-size: 18px;
}

.searchContainer > input {
    margin: 0 1rem 0 1rem;
    border-radius: 8px;
}



#searchBtn {
    border-radius: 25px;
    border-color: black;
    box-shadow: 5px 10px #FFE7E9;
}